#include "winres.h"

#define IDR_TRAY_MENU 101
#define IDI_APP_ICON 102
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#define RT_MANIFEST 24

#define MENU_SHOW_MAIN_WINDOW 40001
#define MENU_ABOUT 40002
#define MENU_EXIT 40003

IDI_APP_ICON ICON "assets/icon.ico"

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "src/win/app.manifest"

IDR_TRAY_MENU MENU
BEGIN
    POPUP "Tray"
    BEGIN
        MENUITEM "Show Main Window", MENU_SHOW_MAIN_WINDOW
        MENUITEM "About", MENU_ABOUT
        MENUITEM SEPARATOR
        MENUITEM "Exit", MENU_EXIT
    END
END
